<a href="https://colab.research.google.com/github/Tejas-Chaudhari-007/EE-769-Introduction-to-Machine-Learning/blob/main/Tutorials/EE_769_Tutorial_1_Q4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q.4

In [ ]:
import pandas as pd

## (a)

In [ ]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

## (b)

In [ ]:
df

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
df[['median_income', 'population']]

       median_income  population
0             1.4936      1015.0
1             1.8200      1129.0
2             1.6509       333.0
3             3.1917       515.0
4             1.9250       624.0
...              ...         ...
16995         2.3571       907.0
16996         2.5179      1194.0
16997         3.0313      1244.0
16998         1.9797      1298.0
16999         3.0147       806.0

[17000 rows x 2 columns]

## (c)

In [ ]:
mean_median_income = df['median_income'].mean()
std_median_income = df['median_income'].std()
print(f'Mean and standard deviation of the median_income column are {round(mean_median_income, 2)} and {round(std_median_income, 2)} respectively.')

Mean and standard deviation of the median_income column are 3.88 and 1.91 respectively.

In [ ]:
mean_population = df['population'].mean()
std_population = df['population'].std()
print(f'Mean and standard deviation of the population colmn are {round(mean_population, 2)} and {round(std_population, 2)} respectively.')

Mean and standard deviation of the population colmn are 1429.57 and 1147.85 respectively.

## (d)

In [ ]:
standardized_df = (df - df.mean()) / df.std()
standardized_df

       longitude  latitude  ...  median_income  median_house_value
0       2.619288 -0.671500  ...      -1.252506           -1.210522
1       2.539494 -0.573248  ...      -1.081451           -1.096713
2       2.494610 -0.905436  ...      -1.170071           -1.048430
3       2.489623 -0.928830  ...      -0.362590           -1.154480
4       2.489623 -0.961581  ...      -1.026424           -1.222593
...          ...       ...  ...            ...                 ...
16995  -2.342894  2.318197  ...      -0.799975           -0.826848
16996  -2.347881  2.369663  ...      -0.715705           -1.106197
16997  -2.362842  2.907715  ...      -0.446650           -0.894099
16998  -2.362842  2.889000  ...      -0.997758           -1.047568
16999  -2.387778  2.299482  ...      -0.455349           -0.971696

[17000 rows x 9 columns]

## (e)

In [ ]:
standardized_df.to_csv('/content/sample_data/standardized_california_housing_train.csv')