<a href="https://colab.research.google.com/github/Tejas-Chaudhari-007/EE-769-Introduction-to-Machine-Learning/blob/main/Assignments/Assignment_2_final_labels.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from joblib import dump,load
from sklearn import metrics

In [ ]:
as_read_unseen_data_df = pd.read_csv('/content/drive/MyDrive/EE 769/Assignment data/Assignment 2 data/test.csv')

# Feature split on date recorded

In [ ]:
# Initiate the dataframe to store created columns by splitting 'date_recorded'
date_recorded_unseen_data_split_df = pd.DataFrame(columns=['Year', 'Month', 'Date'])

# Split the 'date' recorded column 
date_recorded_unseen_data_split_df[['Year', 'Month', 'Date']] = as_read_unseen_data_df['date_recorded'].str.split('-', expand=True).astype('int64')

# Display the dataframe
display(date_recorded_unseen_data_split_df)
print('--'*100)

# Check data types of the created dataframe
display(date_recorded_unseen_data_split_df[['Year', 'Month', 'Date']].dtypes)
print('--'*100)

# Add the columns to reduced seen dataframe and drop 'date_recorded'
reduced_unseen_data_v1_df = pd.concat([as_read_unseen_data_df, date_recorded_unseen_data_split_df], axis=1).drop(columns='date_recorded')

# Display reduced seen data version
display(reduced_unseen_data_v1_df)

       Year  Month  Date
0      2011      2    25
1      2011      4    17
2      2011      3    27
3      2011      7    14
4      2011      7    31
...     ...    ...   ...
14845  2011      3    10
14846  2011      3    18
14847  2012     11     3
14848  2013      1    18
14849  2011      2    23

[14850 rows x 3 columns]

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Year     int64
Month    int64
Date     int64
dtype: object

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

       Unnamed: 0     id  amount_tsh  ...  Year  Month Date
0               0  21215         0.0  ...  2011      2   25
1               1  25893         0.0  ...  2011      4   17
2               2  15713         0.0  ...  2011      3   27
3               3  17247         0.0  ...  2011      7   14
4               4   1248         0.0  ...  2011      7   31
...           ...    ...         ...  ...   ...    ...  ...
14845       14845  45291      1000.0  ...  2011      3   10
14846       14846  54736         0.0  ...  2011      3   18
14847       14847  44238         0.0  ...  2012     11    3
14848       14848  13229         0.0  ...  2013      1   18
14849       14849  70800        30.0  ...  2011      2   23

[14850 rows x 43 columns]

# Select the data as per the seen data

In [ ]:
reduced_seen_data_v8_df = pd.read_pickle('/content/drive/MyDrive/EE 769/Assignment data/Assignment 2 data/stored data/reduced_seen_data_v8_df.pkl')

selected_column_names = reduced_seen_data_v8_df.columns.drop('status_group')

reduced_unseen_data_v2_df = reduced_unseen_data_v1_df[selected_column_names]

display(reduced_unseen_data_v2_df.columns)

       amount_tsh                  funder  gps_height  ...  Year  Month  Date
0             0.0                   Kuamu        1676  ...  2011      2    25
1             0.0                   Kirde           0  ...  2011      4    17
2             0.0                   Water           0  ...  2011      3    27
3             0.0                      Ka           0  ...  2011      7    14
4             0.0            World Vision           0  ...  2011      7    31
...           ...                     ...         ...  ...   ...    ...   ...
14845      1000.0                  Danida        1811  ...  2011      3    10
14846         0.0                Solidame         252  ...  2011      3    18
14847         0.0  Government Of Tanzania           0  ...  2012     11     3
14848         0.0                Tassaf I        1294  ...  2013      1    18
14849        30.0                   Jaica          60  ...  2011      2    23

[14850 rows x 17 columns]

### Function to get columns not matching in 2 dataframes

In [ ]:
# Define functions to get lists of missing columns in 2 dataframes
def get_missing_columns_lists(left_df, right_df):
    """
    - Tejas Chaudhari
    """
    # Get columns in left dataframe which are missing in right dataframe
    missing_left_column_names_list = []
    for i, left_column_name in enumerate(left_df):
        if left_column_name not in right_df.columns:
            missing_left_column_names_list.append(left_column_name)

    # Dsiplay results
    print('Columns in left_df which are missing in right_df are: ')
    print(missing_left_column_names_list)
    print('--'*50)

    # Get columns in right dataframe which are missing in left dataframe
    missing_right_column_names_list = []
    for i, right_column_name in enumerate(right_df.columns):
        if right_column_name not in left_df.columns:
            missing_right_column_names_list.append(right_column_name)

    # Dsiplay results
    print('Columns in right_df which are missing in left_df are: ')
    print(missing_right_column_names_list)
    print('--'*50)

    return missing_left_column_names_list, missing_right_column_names_list

In [ ]:
get_missing_columns_lists(reduced_unseen_data_v2_df, reduced_seen_data_v8_df)

Columns in left_df which are missing in right_df are:
[]
----------------------------------------------------------------------------------------------------
Columns in right_df which are missing in left_df are:
['status_group']
----------------------------------------------------------------------------------------------------

([], ['status_group'])

# Encode

In [ ]:
# Encode using pandas '.get_dummies'
encoded_seen_data_v1_df = pd.get_dummies(reduced_unseen_data_v2_df)

# Display
display(encoded_seen_data_v1_df)

       amount_tsh  gps_height  ...  permit_False  permit_True
0             0.0        1676  ...             0            1
1             0.0           0  ...             1            0
2             0.0           0  ...             0            1
3             0.0           0  ...             0            1
4             0.0           0  ...             0            1
...           ...         ...  ...           ...          ...
14845      1000.0        1811  ...             1            0
14846         0.0         252  ...             0            1
14847         0.0           0  ...             0            1
14848         0.0        1294  ...             1            0
14849        30.0          60  ...             1            0

[14850 rows x 2058 columns]

In [ ]:
# Display current version of encoded
display(encoded_seen_data_v1_df)
print('--'*100)

# Data types
encoded_seen_data_v1_df.dtypes.value_counts()

       amount_tsh  ...  status_group_non functional
0             7.0  ...                            0
1             0.0  ...                            0
2             0.0  ...                            1
3             0.0  ...                            0
4           300.0  ...                            0
...           ...  ...                          ...
44545         0.0  ...                            0
44546         0.0  ...                            1
44547         0.0  ...                            0
44548       200.0  ...                            0
44549         0.0  ...                            0

[44550 rows x 3536 columns]

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

uint8      3524
int64         9
float64       3
dtype: int64

In [ ]:
def XGB_column_names_cleaner(X_data_df):
    """
    - Tejas Chaudhari
    """

    # Initiate dataframe
    XGBC_X_data_df = X_data_df.copy(deep=True)

    # Script to remove '[', ']', and '<' from column names
    for i, column_name in enumerate(X_data_df.columns):
        if '[' in column_name or ']' in column_name or '<' in column_name:
            print('Column name to change: ', column_name)
            new_column_name = column_name.replace(']', '_').replace('[', '_')
            XGBC_X_data_df.rename(columns={column_name: new_column_name}, inplace=True)
            print('Changed to: ', XGBC_X_data_df.columns[i])
    
    return XGBC_X_data_df

In [ ]:
XGBRFC_encoded_data_df = XGB_column_names_cleaner(encoded_seen_data_v1_df)

In [ ]:
X_train = pd.read_pickle('/content/drive/MyDrive/EE 769/Assignment data/Assignment 2 data/stored data/X_train.pkl')

display(X_train)
display(XGBRFC_encoded_data_df)

selected_column_names_train = X_train.columns

selected_XGBRFC_encoded_data_df = XGBRFC_encoded_data_df[selected_column_names_train]

display(selected_XGBRFC_encoded_data_df)

       amount_tsh  gps_height  ...  scheme_management_Water authority  permit_False
15820         0.0      1747.0  ...                                0.0           1.0
17753         0.0      1266.0  ...                                0.0           1.0
28830        50.0       156.0  ...                                0.0           0.0
6792          6.0      1115.0  ...                                0.0           0.0
34677         0.0         0.0  ...                                0.0           0.0
...           ...         ...  ...                                ...           ...
34140         0.0      1198.0  ...                                0.0           0.0
13927        20.0       197.0  ...                                0.0           1.0
919           6.0       809.0  ...                                0.0           0.0
38467         0.0      1378.0  ...                                0.0           0.0
10742         0.0         0.0  ...                                0.0           0.0

[37867 rows x 39 columns]

       amount_tsh  gps_height  ...  permit_False  permit_True
0             0.0        1676  ...             0            1
1             0.0           0  ...             1            0
2             0.0           0  ...             0            1
3             0.0           0  ...             0            1
4             0.0           0  ...             0            1
...           ...         ...  ...           ...          ...
14845      1000.0        1811  ...             1            0
14846         0.0         252  ...             0            1
14847         0.0           0  ...             0            1
14848         0.0        1294  ...             1            0
14849        30.0          60  ...             1            0

[14850 rows x 2058 columns]

       amount_tsh  gps_height  ...  scheme_management_Water authority  permit_False
0             0.0        1676  ...                                  0             0
1             0.0           0  ...                                  0             1
2             0.0           0  ...                                  0             0
3             0.0           0  ...                                  0             0
4             0.0           0  ...                                  0             0
...           ...         ...  ...                                ...           ...
14845      1000.0        1811  ...                                  0             1
14846         0.0         252  ...                                  0             0
14847         0.0           0  ...                                  0             0
14848         0.0        1294  ...                                  0             1
14849        30.0          60  ...                                  0             1

[14850 rows x 39 columns]

# Get labels

In [ ]:
# Load saved model
saved_path = '/content/drive/MyDrive/EE 769/Assignment data/Assignment 2 data/stored models/fitted_RFC_randomized_search_cv_model.joblib'
fitted_RFC_randomized_search_cv_model = load(saved_path)

print(fitted_RFC_randomized_search_cv_model.best_estimator_)

y_test_estimated = fitted_RFC_randomized_search_cv_model.best_estimator_.predict(selected_XGBRFC_encoded_data_df)

saved_path = '/content/drive/MyDrive/EE 769/Assignment data/Assignment 2 data/fitted_y_label_encoder.joblib'
fitted_y_label_encoder = load(saved_path)

final_labels = fitted_y_label_encoder.inverse_transform(y_test_estimated)

final_labels_series = pd.Series(final_labels)

display(final_labels_series)

final_labels_series.to_csv('/content/drive/MyDrive/EE 769/Assignment data/Assignment 2 data/stored data/final_labels.csv',
                               index=False, header=False)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight='balanced',
                       criterion='gini', max_depth=20, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=506,
                       n_jobs=-1, oob_score=False, random_state=7, verbose=0,
                       warm_start=False)

0                     functional
1                 non functional
2                     functional
3                     functional
4        functional needs repair
                  ...
14845                 functional
14846                 functional
14847             non functional
14848             non functional
14849                 functional
Length: 14850, dtype: object

# Notes
The above process of using same transformations of seen data on unseen data can be easily done using pipelines. For example,
![image.png]()